.home-bg {
    background-image: url("./images/foodimage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 62px;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }

  .Welcome {
      margin-block-start: 0.00em;
      margin-block-end: 0.00em;
      font-family: 'Acme', sans-serif;
      font-stretch: condensed;
      font-size: 60px;
      color: black;
      border-color: white;
      border-radius: 10px;
      letter-spacing: 2px;
      position: relative;
      height: 0px;
      top: 120px;

    }

    .h2first {
        margin-block-start: 0.00em;
        margin-block-end: 0.00em;
        font-family: 'Acme', sans-serif;
        font-stretch: condensed;
        font-size: 26px;
        color: black;
        border-color: white;
        border-radius: 10px;
        letter-spacing: 2px;
        position: relative;
        height: 0px;
        top: 260px;
        right: 375px;
    }

    .h2sec {
        margin-block-start: 0.00em;
        margin-block-end: 0.00em;
        font-family: 'Acme', sans-serif;
        font-stretch: condensed;
        font-size: 26px;
        color: black;
        border-color: white;
        border-radius: 10px;
        letter-spacing: 2px;
        position: relative;
        height: 0px;
        top: 260px;
        right: 30px;
    }

    .h2third {
        margin-block-start: 0.00em;
        margin-block-end: 0.00em;
        font-family: 'Acme', sans-serif;
        font-stretch: condensed;
        font-size: 26px;
        color: black;
        border-color: white;
        border-radius: 10px;
        letter-spacing: 2px;
        position: relative;
        height: 0px;
        top: 260px;
        right: -345px;
    }

    .button {
        border-radius: 50px;
        font-family: 'Acme', sans-serif;
        font-stretch: condensed;
        position: relative;
        top: 365px;
        background-color: black;
        border: none;
        color: pink;
        padding: 18px 38px;
        text-align: center;
        text-decoration: none;
        font-size: 26px;
      }

      .button:hover {
        background-color:#ff84d0;
        transition: 0.7s;
    }