.Caloriesbg {
    text-align: center;
    background-image: url("./CaloriesTrackerBG.jpg"); 
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    Height: 900px;
    border-color: pink;
    position: absolute;
    top: 62px;
}

.Calories { 
    font-family: 'Acme', sans-serif;
    font-stretch: condensed;
    font-size: 20px;
    color: black;
    border-color: white;
    border-radius: 10px;
    letter-spacing: 2px;
    position: relative;
    top: 50px;
}

.Count {
    z-index: 1;
}