.Links {
    background-color: pink;
    text-align: left;
    color: aliceblue;
    padding: 15px;
    font-family: 'Acme', sans-serif;
    font-stretch: condensed;
    font-size: 25px;
    letter-spacing: 3px;
  }
  
  .Login {
    background-color: pink;
    color: aliceblue;
    text-align: right;
    padding: 15px;
    position: absolute;
    top: 0px;
    right: 0;
    font-family: 'Acme', sans-serif;
    font-stretch: condensed;
    font-size: 25px;
    letter-spacing: 3px;
  }